<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section>
    <h1>홈페이지</h1>
</section>

<section>
    <form name = "container" action="/find-password" method="post">
        E-mail<br>
        <input type="text"  name="email" placeholder="Write E-mail">
        <br>
        Answer<br>
        <input type="text" name="findPasswordAnswer" placeholder="Write Answer">
        <br>
        <button type="submit" value="제출">확인</button>
    </form>
</section>

<br>
<a href="/">뒤로가기</a>

</body>
</html>